* {
  box-sizing: border-box;
}

h2, h4, h5, .mainNav a {
  font-family: "Tauri", sans-serif;
  letter-spacing: .07em;
}

h2, h4 {
  position: relative;
  color: #FFFFFF;
}

h4 {
  margin-top: 1em;
}

h5 {
  font-style: oblique;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.618em;
  font-size: 1.2em;
}

/* Header styling */
.mainNav {
  height: 50px;
  width: 100%;
  background-color: #010101;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.mainNav a {
  width: 100%;
  color: #FFFFFFF;
  font-size: 1.1em;
  text-align: center;
}

.mainNav a:active {
  background-color: ##5F533D;
}

.container {
  margin: 0 auto 0;
}

.headerHero {
  height: 500px;
  background-image: url(../images/bay-beach-black-and-white-533996.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  margin: 0;
}

.headerContent {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  background-color: rgba(1, 1, 1, .7);
  padding: 1em 5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline {
  width: 80%;
}

.tagline h4 {
  margin: .2em 0;
}

/* Main content styling */
main {
  background-color: lightgreen;
}

section {
  background-color: aqua;
  margin-top: 20px;
  padding: 1em;
}

/* About section styling */
.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.aboutContent p {
  margin: 0 2em;
}

.aboutImage img {
  width: 100%;
  height: auto%;
}

/* Projects styling */
.carousel {
  height: 500px;
}

.carouselContent {
  position: relative;
  top: -50px;
  background-color: chartreuse;
}

.carousel .carousel-item {
  width: 300px;
  height: 400px;
}

.carousel .indicators .indicator-item.active {
  background-color: #757575;
}

.carousel .indicators .indicator-item {
  background-color: #9E9E9E;
}

/* Testimonials styling */
#testimonials {
  height: 300px;
}

footer {
  background-color: hotpink;
  margin: 0;
}
